<section class="ptb">
    <div class="container">
      
        <div class="pb">
          
            <h2 class="text-center">Programs</h2>
          
        </div>
         
            <div class="pb">
            <div class="col-md-4 offset-lg-1 box disp flow">
                <span class="badge-text">Intake ongoing</span>
              
              <div class="mtb">
              <h4> Lorem ipsum dolor </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem expedita earum aperiam rerum</p>
                <a href="#"><button class="button button2">Know More</button></a>
              </div>
            </div>
         
            <div class="col-md-4 offset-lg-1 box disp flow">
              <span class="badge-text">Intake ongoing</span>
            
            <div class="mtb">
            <h4> Lorem ipsum dolor </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem expedita earum aperiam rerum</p>
              <a href="#"><button class="button button2">Know More</button></a>
            </div>
          </div>
          </div>
          
          <div class="pb">
            <div class="col-md-4 offset-lg-1 box disp flow">
              <span class="badge-text">Intake ongoing</span>
            
            <div class="mtb">
            <h4> Lorem ipsum dolor </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem expedita earum aperiam rerum</p>
              <a href="#"><button class="button button2">Know More</button></a>
            </div>
          </div>
            
          <div class="col-md-4 offset-lg-1 box disp flow">
            <span class="badge-text">Intake ongoing</span>
          
          <div class="mtb">
          <h4> Lorem ipsum dolor </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem expedita earum aperiam rerum</p>
            <a href="#"><button class="button button2">Know More</button></a>
          </div>
        </div>
          </div>
          
    </div>
  </section>